.home {
  min-height: 100vh;
  font-family: "quahiri";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
}
p {
  margin-left:3rem;
  margin-right: 2rem;
  text-align: left;
  color: white;
  font-size: 2.1rem;
}
img {
  height: 5%;
  width: 5%;
}
