.container {
  background: url("../Home/images/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 110vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "quahiri";
  font-weight: bold;
}
input {
  background: black;
  margin: 1rem;
  border-style: none;
  padding: 1vh;
  min-width: 50vh;
  color: #fff;
}
.head {
  margin-top: 20vh;
}
.card {
  padding: 10vh;
  min-width: 100vh;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.icons {
  display: flex;
}
button{
    display: inline-block;
    padding: 10px 20px;
    color:#2196f3 ;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
    outline: none;
    border: none;
}
button:hover {
  cursor: pointer;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
  transition-delay: 0.2s;
}
.iconpadding{
    padding: 0.3rem 1rem 0rem 1rem;
}